.auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authContent {
    width: 350px;
    height: 300px;
    background-color: #333;
    border-radius: 10px;

}

.authContent>h2 {
    text-align: center;
    color: #fff;
}

.inputWrapper {
    text-align: center;
    margin-top: 30px;

}

.inputWrapper>input {
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    border-radius: 2px;
    padding-left: 10px;
}

.authBtnWrapper>button:first-child {
    margin-right: 10px;
}

.btn {
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    width: 40%;
    height: 30px;
    cursor: pointer;
}

.authsubmtiBtn {
    background: linear-gradient(#e66465, #9198e5);
    color: #fff;
}


@media(max-width:380px) {
    .authContent {
        width: 300px;

    }
}

@media(max-width:320px) {
    .authContent {
        width: 280px;

    }
}